
<ion-content class="ion-content">
	<div class="header">
		
	</div>
	<ion-card class="ion-card shadow">
		<ion-card-content>
				<ion-item class="avatar">
				  <ion-avatar slot="start">
				    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				  </ion-avatar>
				  <ion-label>
				  	<h2>Slamet Fifin Alamsyah</h2>
				  	<p>Programer web</p>
				  </ion-label>
				</ion-item>
			<ion-list>
				<hr>
				<ion-item>
				  <ion-icon name="phone-portrait"></ion-icon>
				  <ion-label>
				  	<p> 08988810371</p>
				  </ion-label>
				</ion-item>
				<ion-item>
				  <ion-icon name="mail"></ion-icon>
				  <ion-label>
				  	<p> s.fifinalamsyah@gmail.com</p>
				  </ion-label>
				</ion-item>
				<ion-item>
				  <ion-icon name="pin"></ion-icon>
				  <ion-label>
				  	<p> Ketawang Rt 15 Rw 4, Jogosatru, <br>Sukodono - Sidoarjo</p>
				  </ion-label>
				</ion-item>				
			</ion-list>
		</ion-card-content>
	</ion-card>
	<ion-card class="shadow">
		<ion-card-content>
			<ion-list>
				<ion-item>
				  <ion-label>
				  	<p> Teknik Informatika</p>
				  	<p> Fakultas Teknik</p>
				  	<p> Universitas maarif hasyim latif</p>
				  </ion-label>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

</ion-content>
