.header{
	background:blue;
	height:40vh;

}

.ion-card{
	margin-top: -60px;

}
.shadow{
	background: white;
	-webkit-box-shadow: 1px 0px 26px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 26px -3px rgba(0,0,0,0.75);
box-shadow: 1px 0px 26px -3px rgba(0,0,0,0.75);
}
.avatar{
	padding:20px;

}